<!DOCTYPE html>
<html>
  <head>
    <style>
        p{
      border-width: 8px;
      border-style: solid;
      border-color: rgb(3, 3, 3);
      padding: 12px;
      background-color: rgb(173, 231, 212);

      /* 축약형 */
      border: 5px solid rgba(0, 1, 2, 0);
    }

  Text {
    font-size: 35px;
    font-weight:bold;
  }

    
    </style>
    <%- include('../partials/head') %>
  </head>
  <body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">지하철 날씨</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex" method="get">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if(isAuthenticated){ %>
          <li class="nav-item">
            <a href="/users/<%= currentUser.username %>" class="nav-link"
              >My Account</a
            >
          </li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
          <% } else { %>
          <li class="nav-item">
            <a href="/users/new" class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="container mb-3">

      <div class="container px-4 py-5" id="icon-grid">

        <h2 class="pb-2 border-bottom">건대입구역</h2>

        <h4>2호선</h4>
        
      <div style="width:200px; height:150px; float:left "><h3>알고싶은 지하철 역을 검색하시오.</h3></div>
      <div style="width:200px; height:150px; float:left;">
        <img src="https://subweatherimages.s3.ap-northeast-2.amazonaws.com/map.jpg">
        </div>
         
              
        </div>
      </div>
    </div>
  </body>
</html>
