<!DOCTYPE html>
<html>
  <head>
    <style>
        p{
          color:black;
      border-width: 8px;
      border-style: solid;
      border-color: rgb(241, 248, 213);
      padding: 15px;
      background-color: rgb(245, 248, 228);

      /* 축약형 */
      border: 5px solid rgba(82, 99, 116, 0);
      height: 400px;
      border-radius: 1.5rem;
      margin-right: 15px;
    }

    .full_screen
      {
      
      background-color: aliceblue;
          height: 1000px;
          
        
          
        
      }
    
    .search {
      
      color:rgb(15, 150, 150);

    }

    img {
      width: 600px;
      height : 400px;
    }
    
    .d-flex {
      margin-left: 15px;
      width: 450px;
    }

    .navbar-brand {
      margin-left : 350px;
      
    }
    
    
 
  Text {
    font-size: 35px;
    font-weight:bold;
  }

  .add {
    margin-top: 400px;
    width: 2000px;
    height: 2000px;
    background-color: rgb(227, 242, 255);
  }  

    </style>
    <%- include('../partials/head') %>
  </head>
  <body>
   <div class="full_screen">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">지하철 날씨</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex" method="get" action="/map">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name ="subway_name"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if(isAuthenticated){ %>
          <li class="nav-item">
            <a href="/users/<%= currentUser.username %>" class="nav-link"
              >My Account</a
            >
          </li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
          <% } else { %>
          <li class="nav-item">
            <a href="/users/new" class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="container mb-3">

      <div class="container px-4 py-5" id="icon-grid">

        <h2 class="pb-2 border-bottom">지하철 날씨 정보를 확인하세요</h2>

       
        
      <div class="search" style="width:200px; height:150px; float:left "><p>지하철 날씨 사이트는 역의 혼잡도, 공기질, 편의시설 위치를 제공합니다.</p></div>
      <div style="width:200px; height:150px; float:left;">
        <img src="https://subweatherimages.s3.ap-northeast-2.amazonaws.com/map.jpg">
        </div>
         
              
        </div>
        
      </div>
      <p class="add">check</p>
    </div>
  
 
  </body>

</html>
