<!DOCTYPE html>
<html>
  <head>
    <style>
      
    </style>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>공공데이터 포털 </h1>
        <P>데이터 제공, 데이터 활용, 데이터 신청 페이지 제공</p>
        
      </div>

    </div>
  </body>
</html>
